body{
   background-color: rgb(20, 20, 114); 
}

h1{
    font-size: 2em;
    font-family:'Courier New', Courier, monospace;
    color: rgb(154, 187, 255);
    font-weight: 500;
    text-align: center;
}

.container{
    display: flex; 
    flex-wrap: wrap;
    align-content:flex-start;
    width: 70vw;
    background-color: rgb(32, 32, 125); 
    border: 1ch rgb(154, 187, 255) solid;
    margin-left: 15%;
    box-sizing: border-box; 
}
.box{
    flex: 1 0 clamp(10px,5px,3px);           
    aspect-ratio: 1 / 1;
    background-color: white;
    
}

#black , #color , #reset, #eraser {
    height: 3rem;
    width: 6rem;
    border-radius: 5px;
   
}

#controls{
    display: flex;
    height: 4rem;
    width: 100vw;
    justify-content: space-evenly;
    align-items: center;
}

footer{
   font-size: 1em;
    font-family:'Courier New', Courier, monospace;
    color: rgb(154, 187, 255);
    font-weight: 500;
    text-align: center;
    
}

