body{
   background-color: rgb(20, 20, 114);
   
}
.container{
    display: flex;
    height: 25rem;
    width: 25rem;
    background-color: rgb(32, 32, 125); 
    border: 1ch rgb(245, 97, 122) solid;
}
.box{
    height: 100%; 
    width: 100%;
    background-color: white;
}