/* body{
   background-color: rgb(20, 20, 114);
   display: flex;
}
.container{
    height: 75hv;
    width: 75hw;
     background-color: rgb(32, 32, 125); 
    justify-content: center;
    align-items: center;
}
.box{
    height: 4px; 
    width: 4px;
    color: white;
} */